<!DOCTYPE HTML>
<html>
  <head>

    <title>inTone</title>
    <meta charset="utf-8">
	
    <script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./../css/intone.css" />

    <meta property="og:title" content="inTone" />
    <meta property="og:description" content="How good is your intonation?" />
    <meta property="og:image" content="./../applepie128.png" />

  </head>

  <body>

    <h1>inTone</h1>
    <h2> Stress Test</h2>

    <input class = "large green button" type="button" value="Start StressTest" onClick="stressTest()"/>

    <div id="audio_div" class="">
        <audio id="stress_test_stimuli" src="./../audio_stimuli/stressTest/believe_full.wav"> </audio>
    </div>
    <div id="stress_test_image">
        <map name="stressMap">
          <area shape="rect" coords="0,0,200,300" href="#" onclick="javascript:syllable1();">
          <area shape="rect" coords="200,0,400,300" href="#" onclick="javascript:syllable2();">

        </map>
    </div>

    
  <script type="text/javascript" charset="utf-8" src="./../src/StressTest.js">

  </script>


  </body>

</html>