<!DOCTYPE HTML>
<html>
  <head>

    <title>inTone</title>
    <meta charset="utf-8">
	
    <script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./../css/intone.css" />

    <meta property="og:title" content="inTone" />
    <meta property="og:description" content="How good is your intonation?" />
    <meta property="og:image" content="./../applepie128.png" />

  </head>

  <body>

    <h1>inTone</h1>
    <h2> Stress Test</h2>
    <div id="stress_test_instructions">
<p>In this 1st part of the experiment, you will hear English words and will be asked to identify the syllable
with the most stress. The word will appear written on the screen after you hear it, and it will be separated into syllables
for you.  You must click the syllable that matches the stressed syllable. This part of the experiment should take only a couple of minutes.</p>
</div>
  <div id="start_stress_test">
    <input  class = "large green button" type="button" value="Start StressTest" onClick="stressTest()"/>
</div>
    <div id="audio_div" class=""></div>
      <div id="cross"> +</div>

    <div id="stress_test_image"></div>
    <div id="results"></div>
    <div id="practice">
      Great Job! Now let's do some practice for the real experiment! 
        <a href= "./../view/practice.html"> <input  class = "large green button" type="button" value="Practice" onClick=""/></a>
    </div>
    
  <script type="text/javascript" charset="utf-8" src="./../src/StressTest.js">

  </script>


  </body>

</html>